rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Matches any document in the 'users' collection with an ID equal to the user's UUID
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
